@import "tailwindcss";


@tailwind utilities;


/* ✅ Definición de tu tema usando @theme */
/* Paleta inspirada en Toluca: rojo > blanco > negro */
:root{
  --tol-rojo: #D50032;
  --tol-blanco: #FFFFFF;
  --tol-negro: #0B0B0C;
}

body{
  background: var(--tol-blanco);
  color: var(--tol-negro);
}